* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Chakra Petch", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: black;
}

#container {
  margin: 0 auto;
  margin-top: 3em;
  height: 95vh;
  width: 69vw;
  background: url(bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 0.3fr 0.8fr 0.8fr 0.3fr 0.5fr 0.3fr 0.7fr 0.7fr 0.7fr 0.3fr;
      grid-template-columns: 0.3fr 0.3fr 0.8fr 0.8fr 0.3fr 0.5fr 0.3fr 0.7fr 0.7fr 0.7fr 0.3fr;
  -ms-grid-rows: 0.8fr 1fr 1.2fr 1.5fr 0.4fr 0.8fr 1.2fr;
      grid-template-rows: 0.8fr 1fr 1.2fr 1.5fr 0.4fr 0.8fr 1.2fr;
      grid-template-areas: "id id . . . . . . . . . ." ". . . . . . . . . . . ." ". img img img . . . previous previous previous . ." ". img img img . . . previous previous previous . ." ". . . . . . . . . . . ." ". . input submit . . . moves moves moves . ." ". info info info . . . infotwo infotwo infotwo . .";
}

.v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.id {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: id;
}

.id #id {
  text-align: center;
  font-size: 25px;
  color: black;
  height: 90%;
  width: 100%;
  margin-top: 7%;
  margin-left: 20%;
  background-image: url(bubble.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.info {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infotwo {
  -ms-grid-row: 7;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-area: infotwo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btnstyle {
  width: 120px;
  height: 120px;
  display: inline-block;
  line-height: 120px;
  text-align: center;
  background: #ebd34f;
  border-radius: 50%;
  border: 8px solid #067ac7;
}

.img {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: img;
  width: 100%;
  background: white;
  border-radius: 10%;
  position: relative;
  border: 8px solid #067ac7;
}

.img #pokemonImg {
  width: 70%;
  margin: 0 auto;
}

.img #name {
  position: absolute;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  bottom: 5%;
  right: 10%;
}

.input {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: input;
  padding-bottom: 5%;
}

.input #pokemonName {
  font-size: 16px;
  width: 80%;
  height: 60%;
  text-align: center;
  font-size: 18px;
  border-radius: 10%;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e25801), color-stop(#f4483a), color-stop(#fc4061), color-stop(#fb4386), to(#ef52aa));
  background-image: linear-gradient(to top, #e25801, #f4483a, #fc4061, #fb4386, #ef52aa);
}

.moves {
  -ms-grid-row: 6;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-area: moves;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moves .move {
  padding: 5px;
  display: block;
  width: 65%;
}

.previous {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-area: previous;
  background: #c2bfbf;
  border: 8px solid #067ac7;
  border-radius: 10%;
  position: relative;
}

.previous #title {
  position: absolute;
  top: -9%;
  background: #eb7b00;
  border: 4px solid #067ac7;
  border-radius: 15%;
  width: 40%;
  text-align: center;
  padding: 10px;
}

.previous #evolvesFrom {
  width: 40%;
}

.previous #evolution {
  position: absolute;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  bottom: 5%;
  right: 10%;
}

.submit {
  padding-bottom: 5%;
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: submit;
}

.submit #btn {
  width: 80%;
  height: 60%;
  border-radius: 10%;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#e25801), color-stop(#eb7b00), color-stop(#ef9d00), color-stop(#efbe00), to(#ebde12));
  background: linear-gradient(to top, #e25801, #eb7b00, #ef9d00, #efbe00, #ebde12);
}

#image {
  width: 300px;
  background-attachment: local, scroll;
}
/*# sourceMappingURL=styles.css.map */